<h1>
  <span class="fa fa-edit"></span> Add product</h1>

<form method="post" action="/product/create" class="form-create-product">
  <div class="form-label-group">
    <input type="text" id="inputName" class="form-control" name="name" placeholder="Product name" required autofocus />
    <label for="inputName">Product name</label>
  </div>

  <button type="submit" class="btn btn-lg btn-primary">Add</button>
</form>